/* Global ====================================== START */
  * {
  }

  .hidden {
    display: none;
  }

  .container-fluid {
    padding: 0;
  }

  .notify_main_body {
    width: 1300px;
    margin: 15px auto;
    margin-top: 60px;
  }
/* Global ====================================== END */

/* Notify Trigger ====================================== START */
  .notify_trigger {
    position:absolute;
    width: 414px;
    background: #d7f0f9;
    border: 1px solid #9ddef5;
    padding: 20px;
    z-index: 1100;
  }

  .notify_trigger span {
    font-weight: bold;
  }

  .notify_trigger div:first-of-type {
    height: 38px;
    margin: 20px 0 6px;
  }

  .notify_level_select {
    margin-left: -10px;
    font-size: 12px;
  }

  .notify_level_select input{
    margin-left: 3px;
  }

  .notify_level_select span{
    padding: 8px 6px;
  }
/* Notify Trigger ====================================== END */

/* Sidebar ====================================== START */
  .notify_sidebar_icon {
    border: 2px solid #00c2ff;
    border-radius: 2px;
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 32px;
    color: #00c2ff;
    opacity: 0.5;
  }

  .notify_sidebar_icon i {
    margin-left: 2px;
    vertical-align: top;
    margin-top: 2px;
  }

  .notify_sidebar_icon span {
    display: none;
    color: #fff;
    background: #F00;
    border-radius: 50px;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 4px;
    width: 22px;
    height: 22px;
    position: absolute;
    top: -7px;
    left: -7px;
    text-align: center;
  }

  .notify_sidebar_icon.active {
    opacity: 0.7;
    z-index: 1100;
    background: #FFF;
  }

  .notify_sidebar_icon.active span {
    display: block;
  }

  .notify_sidebar_icon:hover {
    border-color: #00c2ff;
    color: #00c2ff;
    opacity:1;
  }

  .notify_sidebar {
    display: block;
    margin-right:-340px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 340px;
    background: #d7f0f9;
    border-left: 1px solid #9ddef5;
    z-index: 1100;
  }

  .notify_sidebar_header i {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 28px;
    color: #545454;
    cursor: pointer;
  }

  .notify_sidebar_header i:hover {
    color: #111;
  }

  .notify_sidebar_header {
    padding: 5px 0px;
    font-size: 12px;
  }

  .notify_sidebar_header .notify_first  {
    width: 94px;
    display: inline-block;
    text-align: center;
    text-decoration: underline;
    cursor:pointer;
    color: #606267;
    padding: 2px 5px 1px;
  }

  .notify_sidebar_header .notify_first:hover {
    text-decoration: none;
    color: #222323;
  }

  .notify_sidebar_header .notify_first.active {
    cursor: default;
    text-decoration: none;
    font-weight:bold;
    color: #eef6f7;
    background: #f38a31;
  }

  .notify_sidebar_header .notify_header_counter {
    display: inline-block;
    background: #F00;
    color: #FFF;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    line-height: 30px;
  }

  .notify_sidebar_body {
    height: 100%;
    padding: 16px;
    padding-right: 2px;
  }
/* Sidebar ====================================== END */

/* Notify Alert ====================================== END */
  .notify_alert {
    display: block;
    padding: 12px 16px 22px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 18px;
    width: 306px;
  }

  #notify_alert_sample {
    display: none;
  }

  .notify_alert_header {
    font-weight: bold;
    margin-bottom: 8px;
  }

  .notify_alert_body {
    font-size:13px;
  }

  .notify_alert i {
    font-size: 18px;
    float: right;
    margin-right: -10px;
    cursor: pointer;
  }

  .notify_alert i:hover {
    font-weight: bold;
    font-size: 20px;
  }
/* Notify Alert ====================================== END */

/* Scrollbar ====================================== START */
  .mCSB_inside > .mCSB_container {
    margin-right: 2px;
  }
/* Scrollbar ====================================== END */

/* Popup ====================================== START */
  .notify_popup_level1 .modal-content {
    background: #bbecc6;
    border-color: #81de76;
  }

  .notify_popup_level2 .modal-content {
    background: #bbe7ec;
    border-color: #79ced8;
  }

  .notify_popup_level3 .modal-content {
    background: #e9ecbb;
    border-color: #dece76;
  }

  .notify_popup_level4 .modal-content {
    background: #ffa555;
    border-color: #ff7800;
  }

  .notify_popup_level5 .modal-content {
    background: #ff3939;
    border-color: #9a0303;
    color: #FFF;
  }
/* Popup ====================================== END */

/* Alert Level ====================================== START */
  .notify_alert_level1 {
    background: #bbecc6;
    border-color: #81de76;
  }

  .notify_alert_level2 {
    background: #bbe7ec;
    border-color: #79ced8;
  }

  .notify_alert_level3 {
    background: #e9ecbb;
    border-color: #dece76;
  }

  .notify_alert_level4 {
    background: #ffa555;
    border-color: #ff7800;
  }

  .notify_alert_level5 {
    background: #ff3939;
    border-color: #9a0303;
    color: #FFF;
  }
/* Alert Level ====================================== END */